ul {
  display: inline;
}
li {
  padding: 10px;
  background-color: lightblue;
}

li img {
  padding: 10px;
  background-color: purple;
}

/* li:hover {
  background-color: cyan;
}

li img:hover {
  background-color: orange;
} */
