ul li {
  display: inline;
}
li {
  padding: 10px;
  background-color: blue;
}

li img {
  padding: 10px;
  background-color: purple;
}

li:hover {
  background-color: green;
}

li img:hover {
  background-color: orange
}
